html, body {
    height: 100%;
    background-color: #f1f1f1;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #f1f1f1;
    align-items: center;
    justify-content: center;
}
